

.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sceneBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1;
}

@media only screen and (max-width: 1000px){
    * {
        font-size: 10px; /* twice as big as the default size */
    }
}


.floating {
    position: absolute;
    z-index: 9999;
    margin: 0.5em;
}

.widget {
    position: absolute;
    z-index: 9999;
    margin: 0.5em;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.rounded {
    border-radius: 5px;
}

.tl {
    top: 0
    left: 0;
}

.tr {
    top: 0;
    right: 0;
}

.bl {
    bottom: 0;
    left: 0;
}

.br {
    bottom: 0;
    right: 0;
}

.bc {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    display: none;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.hidden {
    display: none;
}

.subtitles {
    position: absolute;
    opacity: 0;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 8px;
}

.logs {
  position: absolute;
    opacity: 1;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 8px;
    bottom: 20px;
  left: 0.5em;
}


.disappearing{
    left: 2em;
    transform: translateY(0);
    transition: opacity 10s, transform 10s; /* Transition properties */
    /* Add any other styling as needed */
}